.mobile-topnav {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 20px;
  border: none;
  background-color: #d6ced9;
  z-index: 1;
}

.mobile-topnav .left {
  flex: 50%;
  width: 50%;
  display: flex;
  justify-content: left;
}

.mobile-topnav .center {
  flex: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.mobile-topnav .center a {
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.mobile-topnav .right {
  flex: 50%;
  width: 50%;
  display: flex;
  justify-content: right;
}

.mobile-topnav .icon {
  padding-top: 1px;
  font-size: 20px;
  color: rgb(160, 160, 160);
}

.mobile-topnav .arrow-left {
  font-size: 16px;
  color: rgb(160, 160, 160);
}

.mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  border: none;
}

.mobile-nav-content {
  position: fixed;
  top: 15%;
  width: 100%;
  text-align: center;
}

.mobile-nav a {
  padding: 25px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.mobile-nav a:hover,
.mobile-nav a:focus {
  color: #f1f1f1;
}

.mobile-nav .icon {
  position: absolute;
  top: 10px;
  right: 0;
  padding-right: 25px;
  font-size: 20px;
}

@media only screen and (max-width: 300px) {}

@media only screen and (min-width: 450px) {
  .mobile-topnav {
    height: 60px;
    background-color: #1e03280b;
  }

  .mobile-nav .icon {
    top: 15px;
  }

  .mobile-topnav .center a {
    font-size: 16px;
    color: white;
  }
}

@media only screen and (min-width: 900px) {}

@media only screen and (min-height: 800px) {}

@media only screen and (min-height: 1000px) {}